[submodule "simulator/vendor/nccl"]
	path = simulator/vendor/nccl
	url = https://github.com/QuasarRay/nccl.git
[submodule "simulator/vendor/rust-ibverbs"]
	path = simulator/vendor/rust-ibverbs
	url = https://github.com/QuasarRay/rust-ibverbs.git
[submodule "simulator/vendor/patchbay"]
	path = simulator/vendor/patchbay
	url = https://github.com/QuasarRay/patchbay.git
[submodule "simulator/vendor/petgraph"]
	path = simulator/vendor/petgraph
	url = https://github.com/QuasarRay/petgraph.git
[submodule "integrations/deepops/upstream"]
	path = integrations/deepops/upstream
	url = https://github.com/NVIDIA/deepops.git
[submodule "simulator/vendor/nccl-tests"]
	path = simulator/vendor/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
[submodule "integrations/k8s-test-infra/upstream"]
	path = integrations/k8s-test-infra/upstream
	url = https://github.com/NVIDIA/k8s-test-infra.git
[submodule "education/rustlings"]
	path = education/rustlings
	url = https://github.com/QuasarRay/rustlings.git
