[defaults]
inventory = inventory/network.yml
roles_path = roles
filter_plugins = filter_plugins
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
[persistent_connection]
ssh_type = libssh
host_key_checking = True
command_timeout = 45
[libssh_connection]
host_key_checking = True
host_key_auto_add = False
