name: ex457-v6
mgmt:
  network: ex457-v6-mgmt
  ipv4-subnet: {{ dc.mgmt.subnet }}
  ipv4-gw: {{ dc.mgmt.gateway | default(dc.mgmt.subnet.split('/')[0].rsplit('.', 1)[0] ~ '.' ~ ((dc.mgmt.subnet.split('/')[0].rsplit('.', 1)[1] | int) + 1)) }}
topology:
  defaults:
    kind: linux
    image: ex457-frr:v6
    sysctls:
      net.ipv4.ip_forward: "1"
  nodes:
{% for name, node in dc.nodes | dictsort %}
    {{ name }}:
      mgmt-ipv4: {{ node.mgmt_ip }}
      binds:
        - {{ pack_root }}/.state/authorized_keys:/run/ex457-auth/authorized_keys:ro
        - {{ pack_root }}/.state/hostkeys/{{ name }}:/run/ex457-hostkeys:ro
      exec:
        - /usr/local/sbin/ex457-load
{% endfor %}
  links:
{% for link in dc.links %}
    - endpoints: ["{{ link.endpoints[0].node }}:{{ link.endpoints[0].interface }}", "{{ link.endpoints[1].node }}:{{ link.endpoints[1].interface }}"]
{% endfor %}
